*.o
*.obj
*.lo
*.slo
*.ko
*.elf
*.out
*.app
*.i*86
*.x86_64
*.a
*.lib
*.la
*.lo
*.dll
*.so
*.dylib
*.exe
*.out
*.app

*.dSYM/
*.su
*.idb
*.pdb
*.mod
*.smod
*.swp

.ninja_deps
.ninja_log
build.ninja

build/
bin/
lib/

.vscode/
.idea/
*.user
*.userossc
*.suo
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

